.form {
  max-width: 380px;
  font-family: sans-serif;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  background: #fbfbfb;
  padding: 30px;
  margin: 15px auto;

  & h1 {
    margin: 0 auto 20px;
  }

}