.MenuToggle{
  display: block;
  position: fixed;
  z-index: 99;
  top: 30px;
  left: 30px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.MenuToggle i {
  font-size: 24px;
  color: #000;
}

.MenuToggle:hover{
  opacity: 0.7;
}

.MenuToggle.open{
  transform: translateX(300px);
}