.Drower {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 300px;
  width: 100%;
  background-color: #fff;
  transition: 0.3s linear;
  border-right: 1px solid #f2f2f2;
  transform: translateX(0px);
  transition: 0.3s linear;

  &.close {
    transform: translateX(-300px);
  }

  & ul {
    padding: 30px 0;
    list-style: none;
  }


  & ul li a {
    display: block;
    padding: 8px;
    border-bottom: 1px solid #f2f2f2;
    border-right: 3px solid transparent;
    color: #333;
    text-decoration: none;
    transition: all 0.2s ease;
  }

  & ul li a:hover {
    background-color: #f2f2f2;
    color: #222;
  }

  & ul li a.active {
    border-right-color: #222;
  }
}