.formControl {
  margin-bottom: 15px;

  input,
  textarea {
    width: 100%;
    margin: 0;
    padding: 8px 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
  }

  &_error{
    input,
    textarea {
      border-color: red;
    }

    span {
      font-size: 0.75rem;
      color: red;
      user-select: none;
    }
  }
}
